.Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30ch));
    justify-content: center;
    gap: 3rem;

    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
}
