.OriginalPrice {
    text-decoration: line-through;
}

.ReducedPrice {
    position: absolute;
    bottom: -5ch;
    right: -12ch;
    margin-left: 1ch;
    width: 20rem;
    text-align: center;
    background-color: red;
    font-size: 1.5rem;
    font-weight: 700;

    transform: rotate(-45deg);
    transform-origin: bottom left;
}
